<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Mateh Template</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="#">Logoo Blogger</a>
            <a href="#">Main Menu</a>
        </nav>  
    </header>

{{!-- Aqui se cargaran las demas paginas --}}
    {{{body}}}
    
    <div class="footer">
        &copy; Mateh Elismar YES
    </div>
    '<script src="{process.env.BROWSER_REFRESH_URL}"></script>'
</body>
</html>