<div class="container"> 
        <h1>Expresss & Handlebars Template</h1> 
        <hr>
        <br>
        <div class="section-left">
            <div>
                <h2>Loren</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, debitis ab. Aliquam hic consequatur, quaerat at dolore dolorem soluta nulla eius consequuntur maiores harum eum ut quidem sit, sed voluptate!</p>
            </div>
            <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima architecto quaerat accusantium assumenda, pariatur harum! Pariatur architecto, odio facilis soluta fuga, nesciunt corrupti minima tempore ea necessitatibus sit, culpa animi?
        </div>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima architecto quaerat accusantium assumenda, pariatur harum! Pariatur architecto, odio facilis soluta fuga, nesciunt corrupti minima tempore ea necessitatibus sit, culpa animi?
        </div>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima architecto quaerat accusantium assumenda, pariatur harum! Pariatur architecto, odio facilis soluta fuga, nesciunt corrupti minima tempore ea necessitatibus sit, culpa animi?
        </div>
        <div>
            <h3>Lorem e</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima architecto quaerat accusantium assumenda, pariatur harum! Pariatur architecto, odio facilis soluta fuga, nesciunt corrupti minima tempore ea necessitatibus sit, culpa animi?
        </div>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima architecto quaerat accusantium assumenda, pariatur harum! Pariatur architecto, odio facilis soluta fuga, nesciunt corrupti minima tempore ea necessitatibus sit, culpa animi?
        </div>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima architecto quaerat accusantium assumenda, pariatur harum! Pariatur architecto, odio facilis soluta fuga, nesciunt corrupti minima tempore ea necessitatibus sit, culpa animi?
        </div>
        </div>
        <aside>
            <div>
                <h2>Lideres</h2>
               <table>
                   <thead>
                       <th>JUGADOR</th>
                       <th>POS</th>
                   </thead>
                   <tbody>
                        <tr>
                            <td>Lebron James </td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Cristiano Ronaldo</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Principe Rosa</td>
                            <td>1</td>
                        </tr>
                   </tbody>
               </table>
            </div>
            <div>
                <br><br>
                <h2>Reacciones</h2>
                <ul class="feeds-container">
                    <li class="feed">
                        <a href="#">
                            <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                            <label>Saw Polanco</label> 
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                    </li>
                    <li class="feed">
                        <a href="#">
                            <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                            <label>Bob Marlie</label> 
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                    </li>
                    <li class="feed">
                            <a href="#">
                                <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                                <label>Mateh Elismar</label> 
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                        </li>
                        <li class="feed">
                            <a href="#">
                                <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                                <label>M Franco</label> 
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                        </li>
                        <li class="feed">
                            <a href="#">
                                <img class="avatar" src="https://www.abc.es/media/play/2017/09/28/avatar-kVmB--620x349@abc.jpeg" alt="avatar">
                                <label>Mr Melendez</label> 
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>   
                        </li>
                        
                </ul>
            </div>
        </aside>
    </div>
    